<!-- navbar -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand mr-auto" href="#">Findr Admin</a>
  <!-- Login button -->
  <button type="button" class="btn btn-secondary">Login</button>
</nav>

<!-- jumpotron
<section class="jumpotron bg-light text-center">
  <h1>Security Rethinked</h1>
  <p class="lead text-muted">Powered By Nural network</p>
</section> -->

<!-- Admin Login Form Component view renders here  -->
<app-admin-login id="app-admin"></app-admin-login>

<!-- Admin Table Component view renders here  -->
<!-- <app-admin-table *ngIf="showDiv.previous"></app-admin-table> -->