
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Case Number</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <button type="button" class="btn btn-success">Resolved</button>
      </td>
        <td>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
          <button type="button" class="btn btn-danger">Active</button>
      </td>
        <td>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>
          <button type="button" class="btn btn-success">Resolved</button>
      </td>
        <td>
            <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>